<div id="<%= dom_id student %>">
  <p>
    <strong>Nombre:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= student.document_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

</div>
