<p style="color: green"><%= notice %></p>
<h1> Detalles del Estudiante</h1>
<%= render @student %>
<p>
  <strong>Creado por:</strong>
  <%= @student.user.full_name %>
</p>

<h2>Lecciones:</h2>
<ul>
  <% @student.lessons.each do |lesson| %>
    <li>
    <%= lesson.name %> - <%= lesson.start_date %> a <%= lesson.end_date %> (Horario: <%= lesson.start_time.strftime('%H:%M') %> a <%= lesson.end_time.strftime('%H:%M') %>)    </li>
  <% end %>
</ul> 

<div>
  <%= link_to "Editar", edit_student_path(@student) %> |
  <%= link_to "Volver a la lista de estudiantes", students_path %>

  <%= button_to "Eliminar", @student, method: :delete %>
</div>
