<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center">
        <p class="alert alert-success"><%= notice %></p>
        <h1>Student Details</h1>
      </div>

      <div class="card">
        <div class="card-body">
          <%= render @student %>
          <p class="card-text"><strong>Created by:</strong> <%= @student.user.full_name %></p>          <h2 class="card-title">Lessons:</h2>
          <ul class="list-group">
            <% @student.lessons.each do |lesson| %>
              <li class="list-group-item">
                <%= lesson.name %> - <%= lesson.start_date %> to <%= lesson.end_date %> (Schedule: <%= lesson.start_time.strftime('%H:%M') %> to <%= lesson.end_time.strftime('%H:%M') %>)
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="text-center mt-3">
        <%= link_to "Edit", edit_student_path(@student), class: "btn btn-primary mr-2" %> |
        <%= link_to "Back to Students List", students_path, class: "btn btn-secondary mr-2" %>
        <%= button_to "Delete", @student, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
