<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="text-center">
        <div class="alert alert-success" role="alert">
          <p style="color: green;"><%= notice %></p>
        </div>
        <h1>Lounges</h1>
        <%= link_to "Back", pages_home_path, class: "btn btn-primary mb-3" %>
        <%= link_to "Create Lounge", new_lounge_path, class: "btn btn-primary mb-3" %>

        <div class="card bg-light mb-3">
          <div class="card-body">
            <%= form_with(url: lounges_path, method: "get", class: "form-inline") do %>
              <div class="form-group mr-2">
                <%= label_tag :code, "Search by code:" %>
                <%= text_field_tag :code, params[:code], class: "form-control", placeholder: "Enter lounge code" %>
              </div>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

      <h2>List of Lounges</h2>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @lounges.each do |lounge| %>
              <tr>
                <td><%= lounge.name %></td>
                <td><%= lounge.code %></td>
                <td><%= link_to "Show", lounge, class: "btn btn-primary btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <% if user_signed_in? %>
        <div class="text-center mt-4">
          <%= form_for(current_user, url: destroy_user_session_path, method: :delete) do |f| %>
            <%= f.submit 'Log Out', class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
