<p style="color: green"><%= notice %></p>

<h1>Salones</h1>
<%= link_to "Regresar", pages_home_path, class: "btn btn-primary" %><div id="lounges">
  <% @lounges.each do |lounge| %>
    <%= render lounge %>
    <p>
      <%= link_to "Mostrar este salon", lounge %>
    </p>
  <% end %>
</div>

<%= link_to "Crear salon", new_lounge_path %>
