<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Codigo, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :Fecha_inicio, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :Fecha_fin, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>
  
  <div class="field">
    <%= form.label :Hora_inicio %>
    <%= form.time_select :start_time, {ampm: true, minute_step: 15} %>
  </div>

  <div class="field">
    <%= form.label :Hora_fin %>
    <%= form.time_select :end_time, {ampm: true, minute_step: 15} %>
  </div>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.select :teacher_id, options_for_select(Teacher.all.map { |t| [t.full_name, t.id] }), prompt: "Seleccionar Profesor" %>
  </div>

  <div class="field">
    <%= form.label :lounge_id %>
    <%= form.select :lounge_id, options_for_select(Lounge.all.map { |l| [l.name, l.id] }), prompt: "Seleccionar Salón" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
