<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= lesson.code %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= lesson.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= lesson.end_date %>
  </p>

  <p>
    <strong>Start time:</strong>
  <%= lesson.start_time.strftime('%H:%M') %>
  </p>

  <p>
    <strong>End time:</strong>
  <%= lesson.end_time.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher_id %>
  </p>

  <p>
    <strong>Lounge:</strong>
    <%= lesson.lounge_id %>
  </p>

</div>
