<div id="<%= dom_id lesson %>">
  <p>
    <strong>Nombre:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= lesson.code %>
  </p>

  <p>
    <strong>Fecha de inicio:</strong>
    <%= lesson.start_date %>
  </p>

  <p>
    <strong>Fecha de fin:</strong>
    <%= lesson.end_date %>
  </p>

  <p>
    <strong>Hora de inicio:</strong>
  <%= lesson.start_time.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Hora de fin:</strong>
  <%= lesson.end_time.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Profesor:</strong>
    <%= lesson.teacher_id %>
  </p>

  <p>
    <strong>Salón:</strong>
    <%= lesson.lounge_id %>
  </p>

</div>
