<p style="color: green"><%= notice %></p>

<h1>Lecciones</h1>

<%= link_to "Regresar", pages_home_path, class: "btn btn-primary" %>

<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
    <p>
      <%= link_to "Mostrar esta lección", lesson %>
    </p>
  <% end %>
</div>

<%= link_to "Crear lección", new_lesson_path %>
