<p style="color: green"><%= notice %></p>

<h1>Detalles de la lección</h1>

<%= render @lesson %>
<p>
  <strong>Creado por:</strong>
  <%= @lesson.user.full_name %>
</p>

<div>
  <h2>Estudiantes matriculados</h2>
  <% if @students.any? %>
    <ul>
      <% @students.each do |student| %>
        <li><%= student.full_name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No hay estudiantes matriculados todavia.</p>
  <% end %>
</div>

<div>
  <%= link_to "Editar", edit_lesson_path(@lesson) %> |
  <%= link_to "Volver a listado de clases", lessons_path %>
  <%= button_to "Matricular estudiante", new_student_lesson_path(@lesson), method: :get %>

  <%= button_to "Eliminar", @lesson, method: :delete %>
</div>
