<p style="color: green"><%= notice %></p>

<h1>Profesores</h1>
<%= link_to "Regresar", pages_home_path, class: "btn btn-primary" %>

<div id="teachers">
  <% @teachers.each do |teacher| %>
    <%= render teacher %>
    <p>
      <%= link_to "Show this teacher", teacher %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo profesor", new_teacher_path %>
<hr>

