<p style="color: green"><%= notice %></p>
<h1>Detalles del Profesor</h1>

<%= render @teacher %>

<p><strong>Creado por:</strong> <%= @teacher.user.full_name %></p>


<h3>Clases del Profesor: <%= @teacher.full_name %></h3>

<ul>
  <% @lessons.each do |lesson| %>
    <li>
      <%= lesson.name %> - <%= lesson.start_date %> a <%= lesson.end_date %> (Horario: <%= lesson.start_time.strftime('%H:%M') %> a <%= lesson.end_time.strftime('%H:%M') %>)
    </li>
  <% end %>
</ul>

<%= link_to "Editar", edit_teacher_path(@teacher) %> |
<%= link_to "Volver a la lista de profesores", teachers_path %>

  <%= button_to "Eliminar", @teacher, method: :delete %>
</div>
